# Add other libs as submodules from our own forked repositories (preferably)
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32
[submodule "components/adafruit_scd30"]
	path = components/adafruit_scd30
	url = https://github.com/SenseBoxTI/Adafruit_SCD30
[submodule "components/adafruit_ssd1306"]
	path = components/adafruit_ssd1306
	url = https://github.com/SenseBoxTI/Adafruit_SSD1306
[submodule "components/adafruit_sensor"]
	path = components/adafruit_sensor
	url = https://github.com/SenseBoxTI/Adafruit_Sensor
[submodule "components/adafruit_gfx_library"]
	path = components/adafruit_gfx_library
	url = https://github.com/SenseBoxTI/Adafruit-GFX-Library
[submodule "components/adafruit_busio"]
	path = components/adafruit_busio
	url = https://github.com/SenseBoxTI/Adafruit_BusIO
[submodule "components/adafruit_tsl2591"]
	path = components/adafruit_tsl2591
	url = https://github.com/SenseBoxTI/Adafruit_TSL2591_Library
[submodule "components/adafruit_pm25aqi"]
	path = components/adafruit_pm25aqi
	url = https://github.com/SenseBoxTI/Adafruit_PM25AQI
[submodule "components/adafruit_as726x"]
	path = components/adafruit_as726x
	url = https://github.com/SenseBoxTI/Adafruit_AS726x
[submodule "components/tinytoml"]
	path = components/tinytoml
	url = https://github.com/SenseBoxTI/tinytoml
